##### 02. 앞의 데이터셋(matcars2)을 불러와 첫번쨰 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출한 후 disp 컬럼의 결측값을 disp 컬럼의 중앙값으로 대체하고 대체 전 후의 disp 변수의 표준편차 값의 차이를 구하여라. (단, 차이는 빼는 순서와 관계없이 절댓값을 취하여 표시하여라)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('/Users/ryujiwon/Desktop/BigData/data/기출복원/02회/mtcars2.csv')

In [4]:
data.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2

In [5]:
# *********첫번째 행부터 80% 훈련 데이터로 추출*********
idx80 = np.floor(data.shape[0] * 0.8).astype('int')
data = data[:idx80]

In [6]:
# disp 컬럼의 결측값을 중앙값으로 대체
data2 = data.copy()
data['disp'] = data['disp'].fillna(data['disp'].median())

In [7]:
# 대체 전 후의 표준편차 값의 차이를 구한다.

# 원 데이터의 표준편차 data2
be_std = data2['disp'].std()
# 후 데이터의 표준편차 data
af_std = data['disp'].std()
#차이 절댓값으로

In [8]:
be_std

111.2287398626298

In [9]:
af_std

103.2631044145649

In [11]:
result = round(be_std - af_std, 3)
print(result)

7.966