##### 01. Cars93 데이터셋의 Wheelbase컬럼에 대해서 평균 값에서 표준편차의 1.5배, 2배, 2.5배를 더하거나 뺀 값들의 구간 내의 데이터들의 평균을 각각 구한 후 원래의 데이터 평균에서 뺐을 때 차이들의 합을 출력하라 (단, 소수점 다섯째 자리에서 반올림하여 표현할 것)

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars_data = pd.read_csv('/Users/ryujiwon/Desktop/BigData/data/practice/cars93.csv')

In [3]:
cars_data.head(3)

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90

In [9]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        93 non-null     object
 1   Model               93 non-null     object
 2   Type                93 non-null     object
 3   Min_Price           93 non-null     float64
 4   Price               84 non-null     float64
 5   Max_Price           93 non-null     float64
 6   MPG_city            93 non-null     int64
 7   MPG_highway         93 non-null     int64
 8   AirBags             93 non-null     object
 9   DriveTrain          93 non-null     object
 10  Cylinders           93 non-null     object
 11  EngineSize          93 non-null     float64
 12  Horsepower          93 non-null     int64
 13  RPM                 89 non-null     float64
 14  Rev_per_mile        93 non-null     int64
 15  Man_trans_avail     93 non-null     object
 16  Fuel_tank_capacity  93 non-null     float64
 17  Passengers          93 non-null     int64
 18  Length              93 non-null     int64
 19  Wheelbase           93 non-null     int64
 20  Width               93 non-null     int64
 21  Turn_circle         80 non-null     float64
 22  Rear_seat_room      91 non-null     float64
 23  Luggage_room        82 non-null     float64
 24  Weight              93 non-null     int64
 25  Origin              93 non-null     object
 26  Unnamed: 26         93 non-null     int64
 27  Make                93 non-null     object
dtypes: float64(9), int64(10), object(9)
memory usage: 20.5+ KB

In [17]:
# 따로 할당
Wheelbase = pd.DataFrame(cars_data['Wheelbase'])

In [18]:
Wheelbase.head(3)

   Wheelbase
0        102
1        115
2        102

In [19]:
# Wheelbase 평균
Wheelbase_avg = Wheelbase.mean()

In [21]:
Wheelbase_avg.head(3)

Wheelbase    103.989247
dtype: float64

In [22]:
# Wheelbase 표준편차
Wheelbase_sd = Wheelbase.std()

In [23]:
Wheelbase_sd.head(3)

Wheelbase    7.389026
dtype: float64

In [26]:
### Case 1 평균 값에서 표준편차를 1.5배를 더하거나 뺴는 경우

# 구간의 하한과 상한 계산
Low_1 = Wheelbase_avg - 1.5 * Wheelbase_sd
Upp_1 = Wheelbase_avg + 1.5 * Wheelbase_sd

#  구간 내 데이터들의 평균
Avg_1 = Wheelbase[(Wheelbase > Low_1) & (Wheelbase < Upp_1)].mean()

# 원래 데이터 평균에서 뻄
Case1 = Wheelbase_avg - Avg_1
print(Case1)

Wheelbase    0.29513
dtype: float64

In [32]:
## Case 2 평균 값에서 표준편차를 2배를 더하거나 빼는 경우
Low_2 = Wheelbase_avg - 2 * Wheelbase_sd
Upp_2 = Wheelbase_avg + 2 * Wheelbase_sd

Avg_2 = Wheelbase[(wheelbase > Low_2) & (Wheelbase < Upp_2)].mean()

Case2 = Wheelbase_avg - Avg_2
print(Case2)

Wheelbase    0.178136
dtype: float64

In [33]:
## Case 3 평균 값에서 표준편차를 2.5배를 더하거나 빼는 경우
Low_3 = Wheelbase_avg - 2.5 * Wheelbase_sd
Upp_3 = Wheelbase_avg + 2.5 * Wheelbase_sd

Avg_3 = Wheelbase[(wheelbase > Low_3) & (Wheelbase < Upp_3)].mean()

Case3 = Wheelbase_avg - Avg_3
print(Case3)

Wheelbase    0.011225
dtype: float64

In [34]:
result = round(Case1 + Case2 + Case3, 4)

In [35]:
print(result)

Wheelbase    0.4845
dtype: float64